.advantage {
    padding: 80px 0;
}



.advantage__block-title {
    margin: 0;
    margin-bottom: 30px;
    color: black;
    font-size: 40px;
    font-weight: 700;
    line-height: 1em;
}

.advantage__paragraph {
    margin: 0px;

    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}

.goal {
    display: flex;
    gap: 30px;
}

.goal__item {
    display: flex;
    align-items: center;
    max-width: 350px;
    min-height: 80px;
    padding-left: 110px;
    background-repeat: no-repeat;
}

.goal__paragraph {
    color: #666666;
    font-size: 16px;
    font-weight: 700;
    max-width: 240px;
    line-height: 1.2em;
}

.img-1 {
    background-image: url("../img/eye-circle.svg");
    
}

.img-2 {
    background-image: url("../img/fingers.svg");
    
}

.img-3 {
    background-image: url("../img/bum.svg");
    
}