.header {
    background-color: #3F2AFF;
    padding: 29px 0;
  }
  
  .nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: 56px;
  }
  
  .nav__link {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.1px;
  }
  